 html, body {
        height: 100%;
        background: linear-gradient(138deg, rgba(242,99,126,1) 0%, rgba(243,105,132,1) 46%, rgba(245,239,135,1) 100%); 
        background-repeat: no-repeat;
        height: auto;
        background-attachment: fixed;
        background-size: cover;
        font-size: 30px; 
        color: white;
        font-family: 'Livvic', sans-serif;
      }

      .logoleiste {
        width: 100%;
      }

      .credits {
        background-color: #F2637E; 
        font-size: 15px;
        position: fixed;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .social {
        width:100%;
        padding-left: 60px;
        margin-top: 100px;
      }

      .social_icon a {
        float: left;
        padding: 25px;
        margin-top: 25px;
      }

      .social_icon img {
        width: 50px;
      }

      .centered {
        position: absolute;
        top: 50%;
        max-width: 500px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .title {
        color: white;
        font-size: 45px;
      }

      .impressum-body {
        text-align: left;
        width: 80%;
        padding-bottom: 50px;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
      }

      .footer-right {
        float: right;
        color: white;
        text-decoration: none;
        padding-right: 20px;
        padding-left: 20px;
      }

      .logo {
        width: 500px;
        float: left;
      }

      .logo-text {
        font-weight: bold;
        margin-top: 30px;
        float: left;
        margin-left: 20px;
      }

      .logo-and-text {
        float: left;
        margin-bottom: 60px;
      }

      .beta-link {
        text-align: center; 
        border: solid 2px white;
        border-radius: 20px;
        background: white;
        margin-left: 130px;     
        height: 50px;
        text-decoration: none;
        font-size: 25px;
        color: rgba(242,99,126,1);
        padding: 10px 20px 25px 20px;
      }

      .beta-link:hover {
         background: rgba(242,99,126,1);
         color: white;
      }

      .beta-link:active {
        outline: 0;
        background: rgba(242,99,126,1);
        color: white;
      }

      .beta-link:focus {
        outline: 0;
        background: rgba(242,99,126,1);
        color: white;
      }

      .impressum-link {
        color: white; 
        text-decoration: none;
      }

      .mailto {
        text-decoration: none;
        color: white;    
        padding-left: 130px;
      }

      @media screen and (max-width: 760px) {

        .logo-text {
          margin-top: 17px;
          margin-left: 15px;
        }

        .logo {
          width: 320px;
        }

        .mailto {
          padding-left: 25px;
        }

        .social {
          padding-left: 15px;
        }
        .centered {
          max-width: 300px;
        }
        .social_icon a {
          padding: 15px;
        }
        .social_icon img {
          width: 40px;
        }
        .beta-link {
          font-size: 18px;
          margin-left: 0;
          height: 35px;
          margin-left: 20%;
          padding: 10px 20px 32px 20px;
        }
      }

      @media screen and (max-width: 460px) {

        .footer-right {
          float: none;
          padding-right: 30px;
          padding-left: 30px;
        }
        .credits {
          text-align: center;
          float: none;
        }
        .social_icon a {
          padding: 10px;
        }
        .social_icon img {
          width: 35px;
        }
        .beta-link {
          margin-left: 10%;
        }
      }

      @media screen and (max-width: 450px) {

        .logo-text {
          margin-top: 16px;
        }

        .logo {
          width: 250px;
        }

        .mailto {
          font-size: 20px;
          padding-left: 15%;
        }

        .credits {
          font-size: 12px;
        }

      }