 html, body {
        height: 100%;
        background: linear-gradient(138deg, rgba(242,99,126,1) 0%, rgba(243,105,132,1) 46%, rgba(245,239,135,1) 100%); 
        background-repeat: no-repeat;
        font-size: 30px; 
        color: white;
        font-family: 'Livvic', sans-serif;
      }

      .credits {
        text-align: center;
        background-color: #F2637E; 
        font-size: 15px;
        position: fixed;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .logo {
        width: 150px;
        float: left;
      }

      .logo-text {
        font-weight: bold;
        margin-top: 30px;
        font-size: 60px;
        float: left;
        margin-left: 20px;
      }

      .logo-and-text {
        float: left;
      }

      .mailto {
        text-decoration: none;
        color: white;
        padding-left: 35px;
      }

      @media screen and (max-width: 760px) {

        .logo-text {
          margin-top: 17px;
          margin-left: 15px;
        }

        .logo {
          width: 120px;
        }

        .mailto {
          padding-left: 15px;
        }

      }

      @media screen and(max-width: 400px) {

        .logo-text {
          margin-top: 16px;
          font-size: 45px;
        }

        .logo {
          width: 100px;
        }

        .mailto {
          font-size: 25px;
          padding-left: 15px;
        }

        .credits {
          font-size: 12px;
        }

      }