 html, body {
        height: 100%;
        background: linear-gradient(138deg, rgba(242,99,126,1) 0%, rgba(243,105,132,1) 46%, rgba(245,239,135,1) 100%); 
        background-repeat: no-repeat;
        height: auto;
        background-attachment: fixed;
        background-size: cover;
        font-size: 30px; 
        color: white;
        font-family: 'Livvic', sans-serif;
      }

      .playerControlArea {
        border: solid 1px;
        padding: 15px;
        border-radius: 20px;
      }

      .audio_duration {
        font-size: 18px;
        padding-bottom: 10px;
      }

      .audio_player {
        border-radius: 20px;
        text-align: center;
        margin-bottom: 20px;
      }

      .playerControlButton {
        display: inline-block;
        border: none;
        margin: 0;
        text-decoration: none;
        background: transparent;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: transparent, 
        transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      .playerControls {
        width: 50px;
        height: 50px;
      }

      .logoleiste {
        width: 100%;
      }

      .feedbackLink {
        align-items: center;
        text-align: center;
        color: white;
        margin-left: 30px;
        font-size: 23px;
      }

      .feedback {
        align-items: center;
        text-align: center;
      }

      .link{
        text-decoration: none;
      }

      .download_link {
        margin-top: 20px;
        align-items: center;
        text-align: center;
      }

      .credits {
        background-color: #F2637E; 
        font-size: 15px;
        position: fixed;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .audio_author {
        font-size: 20px;
      }

      .centered-redirect {
        width: 40%;
        display: block;
        margin: 0 auto;
        max-width: 500px;
        margin-top: 20px;
      }

      .storeLinks {
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      .social {
        width:100%;
        padding-left: 60px;
        margin-top: 20px;
      }

      .social_icon a {
        float: left;
        padding: 25px;
        margin-top: 25px;
      }

      .social_icon img {
        width: 50px;
      }

      .centered {
        position: absolute;
        top: 50%;
        max-width: 500px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .title {
        color: white;
        font-size: 45px;
      }

      .impressum-body {
        text-align: left;
        width: 80%;
        padding-bottom: 50px;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
      }

      .footer-right {
        float: right;
        color: white;
        text-decoration: none;
        padding-right: 20px;
        padding-left: 20px;
      }

      .text {
        color: white;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
      }

       .logo {
         width: 480px;
         float: left;
       }

      .logo-redirect {
        width: 40%;
        display: block;
        margin: 0 auto;
        max-width: 500px;
      }

      .logo-top {
        width: 100%;
        margin-top: 5%;
      }

      .logo-text {
        font-weight: bold;
        margin-top: 30px;
        float: left;
        margin-left: 20px;
      }

      .logo-and-text {
        float: left;
        margin-bottom: 60px;
      }

      .beta-link {
        text-align: center; 
        border: solid 2px white;
        border-radius: 20px;
        background: white;   
        height: 50px;
        text-decoration: none;
        font-size: 25px;
        color: rgba(242,99,126,1);
        width: 100%;
        font-family: 'Livvic', sans-serif;
      }

      .beta-link:hover {
         background: rgba(242,99,126,1);
         color: white;
      }

      .beta-link:active {
        outline: 0;
        background: rgba(242,99,126,1);
        color: white;
      }

      .beta-link:focus {
        outline: 0;
        background: rgba(242,99,126,1);
        color: white;
      }

      .impressum-link {
        color: white; 
        text-decoration: none;
      }

      .mailto {
        text-decoration: none;
        color: white;    
        padding-left: 130px;
      }

      @media screen and (max-width: 760px) {

        .link {
          margin-left: 0px;
        }

        .logo-text {
          margin-top: 17px;
          margin-left: 15px;
        }

        .logo-top {
          margin-top: 8%;
        }

        .mailto {
          padding-left: 25px;
        }

        .social {
          padding-left: 15px;
        }

        .centered {
          max-width: 300px;
        }

        .social_icon a {
          padding: 15px;
        }

        .social_icon img {
          width: 40px;
        }

        .beta-link {
          font-size: 16px;
          height: 35px;
        }
      }

      @media screen and (max-width: 460px) {

        .footer-right {
          padding-right: 30px;
          padding-left: 30px;
          float: left;
          margin-left: 25px;
        }

        .logo-top {
          margin-top: 10%;
        }

        .credits {
          text-align: center;
          float: none;
        }

        .social_icon a {
          padding: 10px;
        }

        .logo {
          width: 80%;
        }

        .social_icon img {
          width: 35px;
        }

        .feedbackLink {
          font-size: 20px;
          margin-left: 0;
        }

      }

      @media screen and (max-width: 450px) {

        .logo-text {
          margin-top: 16px;
        }

        .logo-top {
          margin-top: 20%;
        }

        .mailto {
          font-size: 20px;
          padding-left: 15%;
        }

        .credits {
          font-size: 12px;
        }

        .beta-link {
          font-size: 13px;
        }

      }