.hero-heading {
    text-transform: uppercase;
    font-size: 60px;
    color: #fff;
}

.hero-description {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    color: #fff;
}

.audio-description {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.hero-container {
    padding: 3% 10% 15%;
    background: linear-gradient(38deg, #ff6580 50%, #ff6580 50%, #EBA261 85%); 
    margin-left: -15px;
    margin-right: -15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    flex: 0 0 50%;
    max-width: 50%;
}

.phone-img {
    position: absolute;
    right: 11%;
}

.app-store {
    display: inline-flex;
    margin-top: 50px;
}

.apple-store, .google-store {
    height: 60px;
    margin-right: 20px;
}

.click-here {
    text-align: right;
    position: absolute;
    bottom: 15%;
    line-height: 20px;
    right: 35%;
}

@media screen and (max-width: 1500px) {
    .phone-img {
       right: 5%;   
    }

    .click-here {
        right: 32%;
    }
}

@media screen and (max-width: 1024px) {
    .hero-heading {
        font-size: 36px;
    }

    .phone-img {
        height: 70%;
    }
}

@media screen and (max-width: 960px) {
    .hero-container{
        background: linear-gradient(50deg, #ff6580 0%, #ff6580 75%, #EBA261 95%);
    }

    .phone-img {
        position: static;    
    }
    
    .click-here {
        position: static;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
        line-height: 24px;
    }

    .app-store {
        display: block;
    }

    .right-arrow {
        display: none;
    }

    .row {
        display: block;
    }
    
    .column {
        max-width: 100%;
    }
    .row {
        padding-top: 0;
    }

    .apple-store, .google-store {
        margin-right: 0;
    }

    .hero-description {
        font-size: 20px;
    }
}

