.hero-section {
    background: linear-gradient(38deg, #ff6580 50%, #ff6580 50%, #EBA261 85%); 
    padding-top: 175px;
    padding-bottom: 50px;
    box-shadow: 0 10px 10px -6px gray;
}

.hero-heading {
    font-size: 50px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Poppins';
}

.hero-heading-img {
    height: 120px;
}

.hero-description {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 40px;
    color: #fff;
}

.audio-description {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.phone-text {
    text-align: center;
}

.phone-img {
    height: 550px;
}

.stars {
    color: #fff;
    margin-top: 4px;
    text-align: center;
    width: 400px;
    margin-top: 10px;
    font-size: 20px;
}

.star {
    margin-right: 4px;
}

.app-store {
    display: inline-flex;
    margin-top: 50px;
}

.apple-store, .google-store {
    height: 50px;
    margin-right: 20px;
}

.click-here {
    text-align: right;
    position: absolute;
    bottom: 15%;
    line-height: 20px;
    right: 35%;
}


 @media screen and (max-width: 1024px) {
    .hero-heading {
        font-size: 32px;
    }
}

@media screen and (max-width: 960px) {
    .hero-section {
        padding-top: 80px;
        padding-bottom: 30px;
        text-align: center;
    }

    .hero-heading {
        font-size: 32px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .hero-heading-img {
        height: 90px;
        margin-top: 20px;
    }

    .phone-img {
        position: static; 
        justify-self: center;
        margin: auto;
        padding: 20px;
        height: 300px;
    }
    
    .click-here {
        position: static;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
        line-height: 24px;
    }

    .app-store {
        display: none;
    }

    .stars {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        margin-top: 20px;
        margin-bottom: -10px;
        width: 100%;
    }

    .apple-store, .google-store {
        margin-right: 0;
    }

    .hero-description {
        font-size: 16px;
        margin-bottom: 20px;
    }
} 

