html, body {
    height: 100%;
    background: linear-gradient(38deg, #ff6580 50%, #ff6580 40%, #EBA261 80%); 
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    /* font-size: 30px;  */
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  .logoleiste {
    width: 102%;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.impressum-body {
    padding: 50px 200px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 24px;
}

@media screen and (max-width: 960px) {
    .impressum-body {
        padding: 5px 20px;
    }

    .title {
        font-size: 36px;
    }

    .logoleiste {
        width: 600px
    }
}