.social-section {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.social-heading {
    font-size: 56px;
    background: -webkit-linear-gradient(58deg,#ff6580 34%,  #EBA261 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email-link {
    color: #ff6580;
    margin-top: 80px;
    font-size: 25px;
    text-decoration: none;
}
.email-link:hover, .email-container:hover, .social-icon-img:hover {
    color: #EBA261;
    cursor: pointer;
}

.contact-app-store {
    margin-top: 0;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin: 50px 0;
}

.social-icons-img {
    height: 30px;
}

.app-store-1 {
    display: inline-flex;
    margin-top: 50px;
}

.apple-store-1, .google-store-1 {
    height: 60px;
    margin-right: 20px;
}

@media screen and (max-width: 960px) {
    .social-container {
        padding: 30px 25px;
    }

    .social-heading {
        font-size: 32px;
    }

    .contact-app-store {
        display: block;
    }

    .email-link {
        font-size: 24px;
    }

    .app-store-1 {
        display: block;
    }

    .apple-store-link-1 {
        margin-bottom: 20px;
    }

    .apple-store-1, .google-store-1 {
        margin-right: 0;
    }

    .social-icons-img {
        height: 30px;
    }

    .app-store-1.contact-app-store {
        margin-top: 30px;
    }

    .apple-store, .google-store {
        margin-right: 0;
        height: 50px;
    }
}