.share-section  {
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0 10px 10px -6px gray;
}

.share-heading {
    color: #000;
    /* text-transform: uppercase; */
    font-size: 32px;
}

.share-description {
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

.share-content {
    margin-top: 15%;
}

.section-btns {
    margin-top: 50px;
}

.circle-img {
    height: 400px;
}

@media screen and (max-width: 960px) {
    .share-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .share-content {
        margin-top: 20px;
    }

    .share-heading {
        padding-top: 0;
        font-size: 32px;
    }

    .share-description {
        font-size: 16px;
        text-align: center;
    }

    .circle-img {
        height: 300px;
    }

    .section-btns {
        margin-top: 20px;
    }
}