.container-2 {
    background: linear-gradient(38deg, #ff6580 50%, #ff6580 40%, #EBA261 80%); 
    text-align: center;
    margin: -35px -15px;
    padding-top: 5px;
    padding-bottom: 80px;
}

.subscribe-header {
    color: #fff;
    font-size: 60px;
}

.subscribe-text {
    color: #fff;
    font-size: 20px;
}

.email-input {
    padding: 10px;
    border-radius: 15px;
    background: rgba(255,255,255,0.5);
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins';
    width: 25%;
    border: none;
}

::placeholder {
    color: #fff;
}

.subscribe-btn {
    margin-top: 30px;
    margin-bottom: 70px;
}

@media screen and (max-width: 960px) {
    .subscribe-header {
        font-size: 36px;
    }

    .subscribe-text {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container-2 {
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 20px;
    }

    .email-input {
        width: 60%;
    }

    ::placeholder {
        text-align: center;
    }
}