.about-container {
    background: #f0f0f0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 100px 260px;
    text-align: center;
}

.about-row {
    display: flex;
    flex-wrap: wrap;
}

.about-column {
    flex: 0 0 50%;
    max-width: 50%;
}

.about-title {
    color: #ff6580;
    text-align: left;
    font-size: 50px;
}

.about-description {
    font-size: 22px;
    text-align: left;
}

@media screen and (max-width: 960px) {
    .about-container {
        padding: 10px 26px;
    }

    .about-row {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .about-column {
        flex: none;
        max-width: 90%;
    }
    .about-title {
        text-align: center;
    }
    .about-description {
        text-align: center;
    }
}