.about-section {
    background-color: #f0f0f0;
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0 10px 10px -6px gray;
}

.about-title {
    color: #ff6580;
    text-align: left;
    font-size: 56px;
    margin-bottom: 0;
}

.about-description {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.8;
    margin-top: 20px;
}

.about-img {
    height: 400px;
}

@media screen and (max-width: 960px) {
    .about-container {
        padding: 30px 26px;
    }

    .about-row {
        display: block;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .about-column {
        flex: auto;
        max-width: 100%;
        margin: 15px;
    }
    .about-title {
        font-size: 32px;
        text-align: center;
        margin-top: 0;
    }
    .about-description {
        text-align: justify;
        font-size: 18px;
        line-height: 1.5;
    }

    .about-img {
        height: 300px;
    }
}