.about-container {
    background: #f0f0f0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 100px 260px;
    text-align: center;
}

.about-row {
    display: flex;
    /* flex-wrap: wrap; */
}

.about-column {
    flex: 0 0 60%;
    max-width: 60%;
}

.about-title {
    color: #ff6580;
    text-align: left;
    font-size: 50px;
    margin-bottom: 0;
}

.about-description {
    font-size: 20px;
    text-align: left;
    line-height: 1.8;
}

.image-column {
    align-self: center;
    max-width: 40%;
}

.about-img {
    height: 425px;
}

@media screen and (max-width: 960px) {
    .about-container {
        padding: 30px 26px;
    }

    .about-row {
        display: block;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .about-column {
        flex: auto;
        max-width: 100%;
        padding: 15px;
    }
    .about-title {
        font-size: 32px;
        text-align: center;
        margin-top: 0;
    }
    .about-description {
        text-align: justify;
        font-size: 18px;
        line-height: 1.5;
    }

    .about-img {
        height: 300px;
    }
}