.footer-container {
    text-align: center;
    padding: 40px 0 0;
    background: linear-gradient(58deg, #ff6580 0%, #ff6580 20%, #EBA261 75%); 
}

a.footer-link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    cursor: pointer;
}

.footer-items {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    opacity: 0.5;
}