.phone-container {
    background: #fff;
    padding: 100px 250px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.phone-column {
    float: left;
    width: 33.33%;
}

.phone-row:after {
    content: "";
    display: table;
    clear: both;
}

.phone-btns {
    padding-top: 20px;
}

.phone-img-1 {
    height: 600px;
}

@media screen and (max-width: 960px) {
    .phone-container {
        padding: 100px 25px;
    }
    .phone-row {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .phone-column {
        width: 100%;
        justify-self: center;
        place-self: center;
    }

    .phone-btns {
        position: static;
    }
}